<ion-header>
    <ion-toolbar>
        <ion-title>Github Repositories</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let repository of repositories"
        [href]="repository.svn_url"
        target="_blank"
    >
        <ion-card-header>
            <ion-card-title>{{repository.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <span class="ion-padding"><ion-icon name="star"></ion-icon> {{repository.stargazers_count}}</span>
            <span class="ion-padding"><ion-icon name="git-branch"></ion-icon> {{ repository.watchers_count}}</span>
            <span class="ion-padding"><ion-icon name="eye"></ion-icon> {{repository.forks_count}}</span>
        </ion-card-content>
    </ion-card>
</ion-content>

<!--
    ng submit
    quando o usuário clicar, trazer alo

    button sumit - ligar ao evento de submit do formulário

    inativar o botão enquanto o formulário estiver iniciado

    flag dentro do formulário - marca como válido ou inválido - até todos os campos estarem inválidps

    quanod eu pesquiso e clico no botão, vem a resposta

    evento de click que vai navegar para o repositores

    router-link
    profile.login
-->

<!--

1. **Injeção de Dependência**:
    - `constructor(private activatedRoute: ActivatedRoute, private githubService: GithubService) { }`: O construtor recebe duas instâncias de serviços. O `ActivatedRoute` é usado para obter informações sobre a rota atual (como parâmetros da URL), e o `GithubService` é usado para buscar informações sobre os repositórios.

2. **Método `ngOnInit()`**:
    - Este método é chamado quando o componente é inicializado.
    - Ele obtém o nome do usuário da URL usando `this.activatedRoute.snapshot.params['user']`.
    - Em seguida, faz uma chamada ao método `getRepositories(user)` do serviço `GithubService`.
    - Se a chamada for bem-sucedida, a resposta é atribuída à variável `repositories`.
    - Se ocorrer um erro, uma mensagem de alerta é exibida.

3. **Método `ngOnDestroy()`**:
    - Este método é chamado quando o componente está prestes a ser destruído (por exemplo, quando o usuário navega para outra página).
    - Ele cancela a inscrição no `Subscription` para evitar vazamentos de memória.

Em resumo, o `GithubRepositoriesComponent` busca informações sobre os repositórios associados a um perfil de usuário do GitHub e exibe essas informações na página.

-->
